[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
alembic = "*"
cfenv = "*"
flask = "*"
flask-cors = "*"
flask-httpauth = "*"
gunicorn = "*"
gevent = "*"
itsdangerous = "*"
jsonschema = "*"
"psycopg2" = "*"
python-dateutil = "*"
requests = "*"
retrying = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
structlog = "*"

[dev-packages]
coverage = "*"
"flake8" = "*"
flask-testing = "*"
pytest-cov = "*"
tox = "*"
pylint = "*"
