[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.8"

[packages]
alembic = "*"
flask = "*"
flask-cors = "*"
flask-httpauth = "*"
gunicorn = "*"
gevent = {version = "*", platform_python_implementation="=='CPython'"}
itsdangerous = "*"
jsonschema = "*"
python-dateutil = "*"
requests = "*"
retrying = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
structlog = "*"
requestsdefaulter = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
flask-testing = "*"
pytest-cov = "*"
pylint = "*"
